@page "/Account/LoggedOut"
@model Censeq.Admin.Web.Pages.Account.Logout.LoggedOutModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Censeq.Admin.Localization
@using Censeq.Admin.Web.Pages.Account
@using Censeq.Admin.Web.Pages.Account.Logout
@inject IHtmlLocalizer<AdminResource> L
@section scripts {
    <abp-script-bundle name="@typeof(LoggedOutModel).FullName">
        <abp-script src="/Pages/Account/LoggedOut.js" />
    </abp-script-bundle>
}

@section styles {
    <abp-style src="/Pages/Account/LoggedOut.css" />
}

<abp-card>
    <abp-card-body>
        <abp-card-title>@L["LoggedOutTitle"]</abp-card-title>
        <abp-card-text>@L["LoggedOutText"]</abp-card-text>
        @if (Model.PostLogoutRedirectUri != null)
        {
            <a abp-button="Primary" id="redirectButton" href="@Model.PostLogoutRedirectUri"
                cname="@Model.ClientName">@L["ReturnToText"]</a>
        }
        @if (Model.SignOutIframeUrl != null)
        {
            <iframe class="signout logoutiframe" src="@Model.SignOutIframeUrl"></iframe>
        }
    </abp-card-body>
</abp-card>